
.emergency-logo {
    font-family: 'Inter', sans-serif;
}

.emergency-card-body p{
    font-family: 'Roboto', sans-serif;
}

.call-button, .copy-button {
    font-family: 'Roboto', sans-serif;
}

/* .call-cards {
    grid-template-columns: 3fr 1fr;
} */

.call-history-title p {
    font-family: 'Roboto', sans-serif;
}

/* Applying Style For Call Histories */

.call-blocks {
    width: full;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.call-blocks-call-title {
    font-size: 18px;
    font-weight: normal;
}

.call-blocks-call-number {
    color: gray;
    font-size: 14px;
}
.call-blocks-date {
    font-size: 14px;
}



/* Three Vertical Design Start */
.three-horizontal:active .horizontal-two{
    display: none;
}
.three-horizontal:active {
    justify-content: space-between
}
.three-horizontal:active .horizontal-one {
    transform: rotateY(45deg)
}
/* Three Vertical Design End */