
.emergency-logo {
    font-family: 'Inter', sans-serif;
}

.emergency-card-body p{
    font-family: 'Roboto', sans-serif;
}

.call-button, .copy-button {
    font-family: 'Roboto', sans-serif;
}

/* .call-cards {
    grid-template-columns: 3fr 1fr;
} */

.call-history-title p {
    font-family: 'Roboto', sans-serif;
}

/* Applying Style For Call Histories */

.call-blocks {
    width: full;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.call-blocks-call-title {
    font-size: 18px;
    font-weight: normal;
}

.call-blocks-call-number {
    color: gray;
    font-size: 14px;
}
.call-blocks-date {
    font-size: 14px;
}



/* Three Vertical Design Start */
.three-horizontal.activate-button .horizontal-two{
    display: none;
    transition: 0.1s ease-in-out;
}
.three-horizontal.activate-button {
    justify-content: space-between
}
.three-horizontal.activate-button .horizontal-one {
    transform: rotate(42deg);
    transform-origin: top left;
    transition: 0.3s ease-in-out;
    width: 34px;
}
.three-horizontal.activate-button .horizontal-three {
    transform: rotate(-42deg);
    transform-origin: bottom left;
    transition: 0.3s ease-in-out;
    width: 34px;
}
/* Three Vertical Design End */

/* Sidebar show when click */
#sidebar-section-pan-mobile.activate-pan{
    right: 1%;
    top: 2.3%;
    display: block;
    opacity: 100%;
    transition: 0.3s ease-in-out;
}